<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our Company focuses on creating an exclusive community developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, rerum, necessitatibus magni nobis cumque perspiciatis autem beatae atque numquam est? Commodi beatae eius eaque odio id distinctio debitis repudiandae eum.</p>
    
</div>

